@import "reset-css";
$primary: #000066;
$secondary:#fff;
$container-max-widths: (
  xl: 960px,
  xxl: 960px
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
html,
body {
  background-color: $primary;
}
main {
  background-color: $secondary;
}
